{% extends 'layout.html.twig' %}



{% block body %}
    <h1>Create new Regle</h1>

    {{ include('regle/_form.html.twig') }}

    <a href="{{ path('regle_index') }}">back to list</a>
{% endblock %}
