{% extends 'layout.html.twig' %}

{% block title %}MDG Movie Drinking Game{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ app.user.username is defined? app.user.username : "Visitant" }}! ✅</h1>

<div class="jumbotron">
  <h1>Movie Game</h1>
  <p>MVG is the most popular Game...</p>
</div>

{% if is_granted('ROLE_ADMIN') %}
   <div class="row">
        <div class="col bg-secondary">
            Tableau de bord admin Ajax
        </div>

        <div class="col bg-success">
            <p id="nbm">Matches</p>
        </div>

        <div class="col bg-info">
            <p id="nbp">Participants</p>
        </div>

        <div class="col bg-secondary">
            <p id="nbf">Films</p>
        </div>
   </div>
   
{% include "admscr.html.twig" %}
{% elseif is_granted('ROLE_USER') %}
   <div class="row">
        <div class="col bg-secondary">
            Tableau de bord Participant Ajax
            <a href="{{path("match",{user:user.participant.id})}}" class="btn btn-info"> Aller sur les Matchs </a>
        </div>

        <div class="col bg-success">
            <p id="nbmc">Matches en cours</p>
        </div>

        <div class="col bg-info">
            <p id="nbmm">Mes matchs</p>
        </div>
      
   </div>
{% include "usrscr.html.twig" %}
    
{% endif %}
</div>
{% endblock %}
