{% extends 'layout.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ app.user.username is defined? app.user.username : "Visitant" }}! ✅</h1>

<div class="jumbotron">
  <h1>Movie Game</h1>
  <p>MV is the most popular Game...</p>
</div>

{% if is_granted('ROLE_ADMIN') %}
   <div class="row">
        <div class="col bg-secondary">
            Tableau de bord admin Ajax
        </div>

        <div class="col bg-success">
            <p id="nbm">Matches</p>
        </div>

        <div class="col bg-info">
            <p id="nbp">Participants</p>
        </div>

        <div class="col bg-secondary">
            <p id="nbf">Films</p>
        </div>
   </div>
   
    <script>
        $(document).ready(function(){
        
            $.get("api/matches", function(data, status){
            var txt2 = $("<p></p>").text(data["hydra:totalItems"]);    
            $("#nbm").append(txt2).animate({left: '250px'}, "slow");;
            console.log(data["hydra:totalItems"]);
            });

            $.get("api/participants", function(data, status){
            var txt2 = $("<p></p>").text(data["hydra:totalItems"]);    
            $("#nbp").append(txt2);
            console.log(data["hydra:totalItems"]);
            });

            $.get("api/films", function(data, status){
            var txt2 = $("<p></p>").text(data["hydra:totalItems"]);    
            $("#nbf").append(txt2);
            console.log(data["hydra:totalItems"]);
            });
       
        });
    </script>
{% elseif is_granted('ROLE_USER') %}
   <div class="row">
        <div class="col bg-secondary">
            Tableau de bord Participant Ajax
            <a href="{{path("match",{user:user.participant.id})}}" class="btn btn-info"> Aller sur les Matchs </a>
        </div>

        <div class="col bg-success">
            <p id="nbmc">Matches en cours</p>
        </div>

        <div class="col bg-info">
            <p id="nbmm">Mes matchs</p>
        </div>
      
   </div>

    <script>
        $(document).ready(function(){
        
            $.get("api/matches", function(data, status){
            var txt2 = $("<p></p>").text(data["hydra:totalItems"]);    
            $("#nbmc").append(txt2).animate({left: '250px'}, "slow");;
            console.log(data["hydra:totalItems"]);
            });

            $.get("api/participants", function(data, status){
            var txt2 = $("<p></p>").text(data["hydra:totalItems"]);    
            $("#nbmm").append(txt2);
            console.log(data["hydra:totalItems"]);
            });


       
        });
    </script>
{% endif %}
</div>
{% endblock %}
