<!DOCTYPE html>

<title>New Film</title>

{% block body %}
    <h1>Create new Film</h1>

    {{ include('film/_form.html.twig') }}

    <a href="{{ path('film_index') }}">back to list</a>
{% endblock %}
