    <script>
        $(document).ready(function(){
        
            $.get("api/matches", function(data, status){
            var txt2 = $("<p></p>").text(data["hydra:totalItems"]);    
            $("#nbm").append(txt2).animate({left: '250px'}, "slow");;
            console.log(data["hydra:totalItems"]);
            });

            $.get("api/participants", function(data, status){
            var txt2 = $("<p></p>").text(data["hydra:totalItems"]);    
            $("#nbp").append(txt2);
            console.log(data["hydra:totalItems"]);
            });

            $.get("api/films", function(data, status){
            var txt2 = $("<p></p>").text(data["hydra:totalItems"]);    
            $("#nbf").append(txt2);
            console.log(data["hydra:totalItems"]);
            });
       
        });
    </script>